[Desktop Entry]
Type=Application
Version=1.0
Name=GoSipTea
GenericName=SIP Phone
Comment=Make and receive SIP calls
Exec=gosiptea-client
TryExec=gosiptea-client
Icon=call-start-symbolic
Terminal=false
Categories=Network;Telephony;
Keywords=SIP;phone;call;softphone;
StartupNotify=false
StartupWMClass=gosiptea-client
