[Desktop Entry]
Type=Application
Version=1.0
Name=Sippy
GenericName=SIP Phone
Comment=Make and receive SIP calls
Exec=sippy
TryExec=sippy
Icon=sippy
Terminal=false
Categories=Network;Telephony;
Keywords=SIP;phone;call;softphone;
StartupNotify=false
StartupWMClass=sippy
